<h1>Hello World</h1>
<a href="/blog">Blog</a>
{% if user %}
    <p class="navbar-text">Connecté en tant que {{ user.username|escape }} ({{ user.role|escape }})</p>
    <a class="btn btn-primary" href="/logout">Déconnexion</a>
{% else %}
    <a class="btn btn-primary" href="/login">Connexion</a>
{% endif %}
