{% extends "base.html.twig" %}
{% block title %}Connexion
{% endblock %}
{% block body %}

	<header class="masthead" style="background-image: url('media/login.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h2>Formulaire de connexion</h2>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<p>Connexion</p>
				<div class="my-5">
					<form id="contactForm" action="login" method="POST">
						<div class="form-floating">
							<input class="form-control" id="email" name="login" type="text" placeholder="Entrer votre email"/>
							<label for="email">Email</label>
						</div>
						<div class="form-floating">
							<input class="form-control" id="password" name="password" type="password" placeholder="Entrer votre mot de passe"/>
							<label for="password">Mot de passe</label>
						</div>
						<br/>
						<!-- Submit Button-->
						<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Connexion</button>
					</form>
					<p>Pas de compte ?
						<a href="/register">S'enregistrer</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
